<h1>LITTLE MAN COMPUTER</h1>
<div class="labels">
  <div class="left">
    CODE
  </div>
  <div class="center center-log">
    LOG
  </div>
  <div class="center">
    OUTPUT
  </div>
  <div class="right">
    RAM
  </div>
</div>
<div id="simulator" [ngClass]="[darkEnabled ? 'dark' : '']">
  <div class="top">
    <div class="left">
      <div #commands id="commands">
        <div *ngFor="let c of commandsText; let i = index"
             [ngClass]="[i == currentCommandLine ? 'current' : '', i == selectedRow ? 'selected' : '']">
          <pre [ngClass]="['inner-command']"
               [innerHTML]="getCommandString(c)"></pre>
        </div>
        <div class="caret" #caret
             [ngStyle]="{'top': caretPosition.top + 'px', 'left': caretPosition.left + 'px'}"></div>
      </div>
      <textarea spellcheck="false" #textarea
                (scroll)="commands.scrollTop = textarea.scrollTop;updateCaretPosition()"
                (focus)="commands.focus();caretVisible = true;"
                (blur)="commands.blur();caretVisible = false;updateCaretPosition()"
                (keyup)="commandKey($event);commands.scrollTop = textarea.scrollTop"
                (keyup.enter)="newLine()"
                (keyup.backspace)="backLine($event);commands.scrollTop = textarea.scrollTop"
                (click)="updateCaretPosition()"
                id="real-commands"></textarea>
    </div>
    <div class="center center-log" id="log">
      <div [ngClass]="['log-item', l.isError ? 'error' : l.isSuccess ? 'success' : '']"
           *ngFor="let l of log">{{l.message}}</div>
    </div>
    <div class="center" id="out">
      <div class="log-item" *ngFor="let o of outputs">{{o}}</div>
    </div>
    <div class="right">
      <div class="memory-grid">
        <div class="memory-row" *ngFor="let r of memory; let i = index">
          <div class="memory-cell" *ngFor="let c of r; let j = index">
            <div class="label">{{j + (i * memory.length)}}</div>
            <div (click)="selectRow(i, j)"
                 [ngClass]="['value', selectedRow == (i*10)+j ? 'selected' : '', c ? 'filled' : '', isCurrentCell(i,j) ? 'current' : '', memory[i][j] && memory[i][j].isNegative ? 'negative' : '']">
              {{c ? c.value : '000'}}
              <div *ngIf="memory[i][j] && memory[i][j].isNegative" class="tooltip">This is a negative number</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="inner-flex">
      <button [ngClass]="[this.isCodeValid ? 'filled' : '']" (click)="validate()">VALIDATE/RESET</button>
      <button class="mt" (click)="run()">{{isRunning() ? 'PAUSE' : 'RUN'}}</button>
      <button class="mt stop" (click)="stop()">STOP</button>
      <div [ngClass]="['mt', getStatusColor()]">
        STATUS: {{status}}
      </div>
    </div>
    <div class="inner-flex">
      <div>
        ACCUMULATOR: {{accumulator ? accumulator.value : '-'}}
      </div>
      <div class="mt">
        PROGRAM COUNTER: {{programCounter ? programCounter : '-'}}
      </div>
      <div class="mt">
        INSTRUCTION REGISTER: {{instructionRegister ? instructionRegister : '-'}}
      </div>
      <div class="mt">
        ADDRESS REGISTER: {{addressRegister ? addressRegister : '-'}}
      </div>
      <div class="mt">
        <button (click)="clear()">CLEAR ALL</button>
      </div>
    </div>
    <div class="inner-flex">
      <div>
        <span>SPEED: </span>
        <span><input type="text" [(ngModel)]="speed"></span>
        <span> ms</span>
      </div>
      <!--<div class="mt">
        EXECUTION TIME: {{executionTime ? executionTime + 'ms' : '-'}}
      </div>-->
      <div class="mt">
        <label>
          STEP BY STEP
          <input type="checkbox" [ngModel]="sbs" (change)="stepByStepChanged()">
        </label>
      </div>
      <div class="mt" *ngIf="sbs">
        <button (click)="step()">STEP ></button>
      </div>
    </div>
    <div class="inner-flex">
      <div>
        <label>EXAMPLES:
          <select (change)="selectedExample($event)">
            <option value="">---</option>
            <option [value]="e.id" *ngFor="let e of examples.examples">{{e.name}}</option>
          </select>
        </label>
      </div>
      <div style="display: flex">
        <div class="mt" style="margin-right: 10px">
          <button (click)="export()">EXPORT</button>
        </div>
        <div class="mt" style="position: relative">
          <label>
            <input style="visibility: hidden;width: 0;height: 0;position: absolute; opacity: 0"
                   (change)="import($event)"
                   type="file" id="file-import">
            <button (click)="triggerImport()">IMPORT</button>
          </label>
        </div>
      </div>
      <div style="display: flex">
        <div class="mt" style="margin-right: 10px">
          <button (click)="copyMessage()">{{copyTCMessage}}</button>
        </div>
      </div>
      <div class="mt">
        <button (click)="print()">PRINT</button>
      </div>
    </div>
    <div class="inner-flex">
      <div>
        <label>
          DARK MODE
          <input type="checkbox" [(ngModel)]="darkEnabled">
        </label>
      </div>
      <div class="mt">
        <label>
          LOG LEVEL<br>
          <select style="width: 100%; margin-top: 5px" [(ngModel)]="logLevel">
            <option [value]="'normal'">Normal</option>
            <option [value]="'debug'">Debug</option>
          </select>
        </label>
      </div>
    </div>
  </div>
</div>
<div class="bottom-right color-white">
  Made with <3 by <a href="https://www.linkedin.com/in/gabriele-cicconetti/" target="_blank">Gabriele Cicconetti</a>
</div>
<div class="top-right color-white">
  <a href="https://gitlab.com/gacicconetti/little-man-computer" target="_blank">Gitlab</a>
</div>
<div class="top-left color-white">
  <a href="https://gitlab.com/gacicconetti/little-man-computer/-/issues/new" target="_blank">Found a bug? Let me know
    :)</a>
</div>
<div class="print" id="print">asd</div>
