/* You can add global styles to this file, and also import other style files */
*
  font-family: 'JetBrains Mono', monospace
  font-size: 13px
  box-sizing: border-box
  outline: none

body
  margin: 0
  padding: 30px 20px 50px 20px
  background: #3a3aa0
  position: relative
  display: flex
  align-items: center
  justify-content: center

.print
  display: none

@media print
  h1, .labels, #simulator, .bottom-right, .top-right, .top-left, .left, .center, .right
    display: none !important
  .print
    display: block !important
  html, body
    height: auto !important
    display: block
    padding: 5px !important
